@model IEnumerable<DISOpenDataCloud.Models.RoleViewModel>

@{
    ViewBag.Title = "Role Management";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Platform.DAAS.OData.Core.Security;
@using Platform.DAAS.OData.Facade;

@{
    ISecurityManager securityManager = Provider.SecurityManager();

    bool isSupperUser = securityManager.IsSupperUser(User.Identity);
    bool isAuthorizedToCreate = securityManager.IsAuthorized(User.Identity.Name, "SYS-ROLE-CREATE");
    bool isAuthorizedToEdit = securityManager.IsAuthorized(User.Identity.Name, "SYS-ROLE-UPDATE");
    bool isAuthorizedToDelete = securityManager.IsAuthorized(User.Identity.Name, "SYS-ROLE-DELETE");
}

<h2>Role Management</h2>

@if (isAuthorizedToCreate || isSupperUser)
{
    <p>
        @Html.ActionLink("Create", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Name)*@
            @Html.ActionLink(item.Name, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>

            @if (isAuthorizedToEdit || isSupperUser)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            }

            @if ((isAuthorizedToEdit && isAuthorizedToDelete) || isSupperUser)
            {
                <span>|</span>
            }            

            @if (isAuthorizedToDelete || isSupperUser)
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
            
        </td>
    </tr>
}

</table>
